export APP=appname
export DOMAIN=example.tld
export EMAIL=jdoe@example.com
export ENV=dev
export GITHUB_BRANCH=develop
export GITHUB_OAUTH_TOKEN=add-github-token
export GITHUB_OWNER=user
export GITHUB_REPO=repo
export KEY_NAME=username-us-east-1-keypair
export NAME_SUFFIX=jdoe
export PROFILE=default
export PROJECT=appname
export REGION=us-east-1
export SUBDOMAIN=subdomain
