APP = appname
DOMAIN = example.tld
EMAIL = jdoe@example.com
ENV = dev
GITHUB_BRANCH = develop
GITHUB_OAUTH_TOKEN = add-github-token
GITHUB_OWNER = user
GITHUB_REPO = repo
KEY_NAME = username-us-east-1-keypair
NAME_SUFFIX = jdoe
PROFILE = default
PROJECT = appname
REGION = us-east-1
SUBDOMAIN = subdomain
